<div class="country-info">
  <h2>Country Information</h2>
  <div>
    <label><strong> Name: </strong></label>
    <span>{{ name }}</span>
  </div>
  <div>
    <label><strong> Capital: </strong></label>
    <span>{{ capital }}</span>
  </div>
  <div>
    <label><strong> Region: </strong></label>
    <span>{{ region }}</span>
  </div>
  <div>
    <label><strong> Income: </strong></label>
    <span>{{ income }}</span>
  </div>
  <div>
    <label><strong> Lending Type: </strong></label>
    <span>{{ lendingType }}</span>
  </div>
  <div>
    <label><strong> ISO2 Code: </strong></label>
    <span>{{ iso2Code }}</span>
  </div>
</div>
